$darkPink: rgba(202, 67, 130, 0.7);
$white: #fff;
$dark: #343a40;
$gold: rgb(255, 210, 0);
$lightBlue:rgba(183, 229, 247, 0.778);
// $gray-900: #212529;
$sidebar-bg: $darkPink;
$sidebar-text: $white;
$sidebar-active: $gold;
$card-bg:$lightBlue;