.categoryCon{
    display: flex;
    gap: 1rem;
    width: 100%;
    justify-content: center;
    #todoList , #noteLink{
        width: 50%;
        border: 3px solid lightcoral;
        border-radius: 10px;
        padding: 1rem;
        .title{
            text-align: center;
            font-weight: bolder;
            color: lightskyblue;
        }
        ul{
            display: flex;
            flex-direction: column;
            gap:.5rem;
            margin: 0;
            li{
                cursor: pointer;

            }
        }
    }
}
