nav {
    background-color: $sidebar-bg;
    color: $sidebar-text;

    &#sideBar {
        width: $sidebar-w;
        border-right: 3px solid $gold;
        display: flex;
        flex-direction: column;
        gap: .5rem;
        padding: 1rem 0;
        .sidebarItem {
            border-bottom: 1px solid $sidebar-text;
            padding: 0 1rem 5px 0.5rem ;
            cursor: pointer;

            &.active {
                color: $gold
            }
        }
    }
}