@import "layout";
@import "color";
@import "./index";
@import "./page";

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    &#root-page {
        display: flex;
        flex-wrap: nowrap;
    }

    &#root-index {
        padding: 1rem;
    }
}